    <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/jpg" href="/public/img/timeless-favicon.png">

    <title>TimeTrone / Register</title>
	<link rel="icon" type="image/png" href="/public/images/icons/mc-logo-letter-design-vector-14081808.jpg">

    <!-- Custom fonts for this template-->
    <link href="/public/admin/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="public/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-light">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block "> <img src="/public/img/products/Timex Fashion Mother Of Pearl Dial Women's Watch -TW000X220_frontImage_1696067708776.png" alt=""></div>
                    
                    <div class="col-lg-7">
                        
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                <p class="text-danger mt-0 pt-2 fw-bold"><%= locals.errorMessage %></p>
                            </div>
                            <form class="user" method="post" action="/register" onsubmit="return submitform('event')">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="fname"
                                         type="text"
                                         class="form-control form-control-user"
                                          id="form-holder"
                                          onkeyup="usernameValidator() "
                                        placeholder="First Name">
                                        <span class="text-danger rounded" id="nameInvalid" style="font-size: 0.75rem; "></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="lname" type="text" class="form-control form-control-user" id="lastName"
                                            placeholder="Last Name"  required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="email"
                                     type="email"
                                      class="form-control form-control-user"
                                       id="inputMail"
                                        placeholder="Email Address"
                                        onkeyup="mailValidator()"
                                        >
                                        <span
                                        id="mailInvalid"
                                        class="text-danger rounded"
                                        style="font-size: 0.75rem; text-transform: none"
                                      ></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="password"
                                         type="password" 
                                         class="form-control form-control-user"
                                         id="inputPassword" 
                                         onkeyup="passwordValidator()"
                                         placeholder="Password" 
                                         >
                                         <span
                                         id="passwordInvalid"
                                         class="text-danger rounded"
                                         style="font-size: 0.75rem; text-transform: none"
                                       ></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="cpassword" 
                                        type="password" 
                                        class="form-control form-control-user"
                                        id="confirmPassword" 
                                        onkeyup="passwordMatch()"
                                        placeholder="Confirm Password"
                                        >
                                        <span
                                        id="passwordmatch"
                                        class="text-danger rounded"
                                        style="font-size: 0.75rem; text-transform: none"
                                      ></span>
                                        
                                    </div>
                                    
                                <hr>
                                </div>
                                <div class="form-group">
                                    <input name="number"  
                                    class="form-control form-control-user" 
                                    id="inputNumber"
                                    onkeyup="numberValidator()"
                                    placeholder="Number"
                                     >
                                     <span
                                     id="numberInvalid"
                                     class="text-danger rounded"
                                     style="font-size: 0.75rem; text-transform: none"
                                   ></span>
                                </div>
                                <div class="text-center" id="error"></div>
                                <p class="text-center text-danger" >
                                 
                                </p>
                                <input 
                                class="btn btn-dark btn-user btn-block" 
                                value="NEXT" 
                                type="submit"
                                id="submitButton">
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/login">login</a>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/signUp.js"></script>
 
    <!-- Bootstrap core JavaScript-->
    <script src="public/admin/vendor/jquery/jquery.min.js"></script>
    <script src="public/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="public/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="public/admin/js/sb-admin-2.min.js"></script>

    <!-- ======================= -->
   
</body>
</html>