<!DOCTYPE html>
<html>
<head>
  <title>404 Not Found</title>
</head>
<body>
  <h1>404 Not Found</h1>
  <p>The page you are looking for could not be found. Please check the URL and try again.</p>
  <p>Here are some links that might be helpful:</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/search">Search</a></li>
  </ul>
</body>
</html>
